[Unit]
Description=Reddit App
Requires=mongod.service
After=mongod.service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/puma
WorkingDirectory=/opt/reddit
Restart=always

[Install]
WantedBy=multi-user.target
